<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.mytodolist" >

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_lettering"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="MyTodoList.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.codepath.mytodolist.model.Task, com.codepath.mytodolist.model.Statu" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EditItemActivity"
            android:label="@string/title_activity_edit_item"
            android:parentActivityName="com.codepath.mytodolist.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codepath.mytodolist.HomeActivity" />
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="My Todo List"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:parentActivityName="com.codepath.mytodolist.HomeActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codepath.mytodolist.HomeActivity" />
        </activity>
    </application>

</manifest>
